<!DOCTYPE html>
<html ng-app="myTabs">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


   <input type="type me..." ng-model="tabCtl.inputVal" ng-contoller="tabController as tabCtl" >
   <p class="right">{{tabCtl.inputVal}}</p>

   <h1>Tab directive</h1>
   <tab-directive></tab-directive>


   <h1>New tabs directive</h1>
   <tab-set>
    <tab heading="1">
      <div>Content1</div>
    </tab>
    <tab heading="2">
      <div>Content1</div>
    </tab>
    <tab heading="3">
      <div>Content3</div>
    </tab>
  </tab-set>

  <tab-json></tab-json>



  </body>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./javascripts/myTabs.js"></script>
</html>
