<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in tabs" ng-class="{active:tab.isSet}">
      <a href="" ng-click="setTab(tab)">{{tab.heading}}</a>
    </li>
  </ul>
  <div class="tab-content" ng-transclude></div>
</div>
