<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }" class="active">
      <a href="" ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href="" ng-click="tab.setTab(2)">Specs</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href="" ng-click="tab.setTab(3)">Reviews</a>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <div ng-show="tab.isSet(1)">
    <h4>Description</h4>

  </div>


  <!--  Spec Tab's Content  -->
  <div ng-show="tab.isSet(2)" class="ng-hide">
    <h4>Specs</h4>

  </div>

  <!--  Review Tab's Content  -->
  <div ng-show="tab.isSet(3)" class="ng-hide">
    <!--  Product Reviews List -->
    <ul>
      <h4>Reviews</h4>

      dfbzdbzd

    </ul>

    <!--  Review Form -->
  </div>

  <!-- <div ng-repeat="pane in panes">
    <ul class="nav nav-pills">
      <li ng-class="{ active:tab.isSet() }" class="active">
        <a href="" ng-click="tab.setTab()">{{pane.heading}}</a>
      </li>
    </ul>

  
    <div ng-show="tab.isSet()" class="ng-hide">
      <h4>{{pane.content}}</h4>

    </div>

  </div> -->

</section>
