<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ng-repeat="pane in panes"
        ng-class="{active: isSet({{$index+1}}) }">
      <a href="" ng-click="setTab($index+1)">{{pane.heading}}</a>
    </li>
  </ul>

  <div class="tab-content active">
    <div class="tab-pane" ng-repeat="pane in panes" class="ng-hide"
                          ng-class="{active: isSet({{$index+1}})  }">
      {{pane.content}}
    </div>
  </div>
</div>
